/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */


/* ===========================
   Editor Sidebar Panel Styles
=========================== */
.recent-posts-showcase-inspector {

    // .components-base-control.components-toggle-control {
    //     padding: 0 20px;
    // }
    .components-panel__body.is-opened>.components-panel__body-title {
        background: #f0f0f0;
        border: none;
    }

    .recent-posts-showcase-display-settings {
        .components-toggle-control.components-base-control {
            margin-top: 20px;
            margin-bottom: 14px;
        }

        .components-toggle-control__label {
            font-weight: 500;
            font-size: 13px;
            color: rgba(0, 0, 0, 0.733);
        }
    }
}

.recent-posts-showcase .recent-post-item img {
    width: 100%;
    height: auto;
}

.recent-posts-showcase.list .recent-post-item {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;

    img {
        max-width: 100%;
        width: 300px;
        height: 300px;
        object-fit: cover;
        flex-shrink: 0;
        border-radius: 6px;
    }
}

.recent-posts-showcase.swiper .swiper-button-prev:after,
.recent-posts-showcase.swiper .swiper-button-next:after {
    font-size: 30px;
    color: #686868;
}